entrypreview {
	display: grid;
	grid-template-areas:
	"title title title title"
	"  .   image image   .  "
	" text  text  text text"
	"text  text  text  text"
	;
}
h1 {
  grid-area: title;
  align-self: center;
  justify-self: center;
}
img {
  grid-area: image;
}
article {
  grid-area: text;
  padding: 16px;
  align-self: center;
}
