/*root {display: block;}*/
html {
  scroll-behavior: smooth;
}
.backgroundSet {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body {
  display: grid;
  background: repeating-linear-gradient(
    45deg,
    grey,
    grey 15px,
    silver 15px,
    silver 30px
  );
}
a {
  text-decoration: none;
  color: black;
}
nav {
  /*background-color: thistle;*/
  display: grid;
  grid-template-rows: 1fr;
  grid-column-gap: 5px;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  color: black;
}
nav > a {
  padding-top: 20px;
  padding-bottom: 20px;
}
nav > a:hover {
  background-color: dodgerblue;
  /*padding: inherit;*/
}
/*h6 {height: 300px;}*/
/*content > #aboutMe {
}
*/
#aboutMe{
  background: repeating-linear-gradient(
    45deg,
    gold,
    gold 15px,
    yellow 15px,
    yellow 30px
  );
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#hireMe{height: 400px;
  background-color: red;
  background: repeating-linear-gradient(
    45deg,
    snow,
    snow 15px,
    whitesmoke 15px,
    whitesmoke 30px
  );
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#contactMe{height: 400px; background-color: indigo;
background: repeating-linear-gradient(
    45deg,
    orchid,
    orchid 15px,
    plum 15px,
    plum 30px
  );
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}