body {
  background-color: BurlyWood;
  display: grid;
}
main {
  display: inherit;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
}

.index_card {
  justify-self: center;
  border-radius: 20px;
  box-shadow: inset -7px -3px 20px -5px silver;
  display: grid;
  background-color: ivory;
  transition: .5s;
  width: fit-content;
}
.index_card:hover {
  box-shadow: inset -7px -3px 5px 0px grey;
  transform: rotate(-3deg);
}
.index_card > h3 {
  text-align: center;
}
.index_card > p {
  padding-left: 30px;
  padding-right: 30px;
}

.index_card > img {
  justify-self: center;
  max-height: 200px;
  max-width: 100%;
}
a {
  text-decoration-style: -moz-none;
  color: black;
}